/* Body CSS START */
.header-section{
    background-color: #353E56;
    padding-bottom: 3%;
    /*background: url(../images/icons/letterP.png);*/
}
#index-features-section{
    background-color: #563C7D;
}
/* Body CSS END */

/* Index Page NavBar CSS START */
.navbar{
    background-color: #353E56;
}
.btn{
    color: white;
}
.btn:hover{
    color: #F5E6CA;
}
.nav-but{
    background-color: #563C7D;
}
/* Index Page NavBar CSS START */

/* Features Section CSS START */
#features-card-text{
    color:#353E56;
}
/* Features Section CSS END */

/*Other Systlings*/
#homepage-header{
    color: white;
    padding-top: 100px;
}
.card-text{
    color: white;
}
#homepage-btn{
    color: white;
}
.homepage-pic{
    margin-top: 80px;
    width: 120%;
    height: 120%;
}