body,
html {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	padding: 0px;
}

/*
body{
	animation: transitionIn 0.75s;
}
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
	font-weight: 400;
	line-height: 1.5em;
}

p {
	font-size: 15px;
	margin: 12px 0 0;
	line-height: 24px;
}

a {
	color: #333;
	font-weight: 500;

}

button:focus {
	box-shadow: none;
	outline: none;
	border: none;
}


button {
	cursor: pointer;
}

ul,
ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

a,
a:hover,
a:focus {
	color: #333;
	text-decoration: none;
	transition: all 0.3s;
}


.wrapper {
	position: relative;
	width: 100%;
	overflow: auto;
}

.main-content{
	animation: transitionIn 0.75s;
}


<<<<<<< HEAD
/*-------delete modal start------*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(157, 157, 157, 0.5);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -10;
}

.open-modal {
    visibility: visible;
    z-index: 10;
}

.modal-container {
	padding: 30px;
    background: #fff;
    border-radius: 5px;
    width: 50vw;
    height: 33vh;
    max-width: 440px;
    text-align: center;
    display: grid;
    place-items: center;
}

.cancel-btn,
.continue-btn {
	margin: 18px 5px;
}

/*-------delete modal end------*/

=======
>>>>>>> aa58e70b2bdc1b05f8bd03d1a507ecc7a6558854
/*-------footer design start------*/
footer {
	background-color: #353b48;
	color: #fff;
	text-align: center;
	padding: 20px 30px;
	margin-top: 50px;
	position: relative;
	width: 100%;
}

/*-------footer design end------*/

/* ------status section start------ */

.status-section {
	/* margin-left: 38px; */
	width: 100%;
}

.inventory-stats {
	color: #fff;
	display: flex;
}

.stat {
	padding: 20px 0;
	width: 100%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #b9b9b9;
	margin-right: 10px;
	font-size: 4vw;
}

.stat h1 {
	font-size: 0.8em;
}

.stat p {
	font-size: 0.3em;
}

.sales {
	box-shadow: 0px 0px 5px #b9b9b9;
	padding: 30px;
	margin-top: 20px;
}

.sales-status {
	justify-content: space-around;
	border-bottom: 2px solid #b9b9b9;
}

.sales-stat {
	text-align: center;
	padding: 20px;
	margin: 0 20px;
}

.sales-stat p {
	color: #a9a9a9;
}

.sales-graph {
	width: 100%;
	height: 300px;
}

/* ------status section end------ */

#sidebar.show-nav,
.body-overlay.show-nav {
	transform: translatex(0%);
	opacity: 1;
	display: block;
	visibility: visible;
	z-index: 15;
}




/*========main-content- navbardesign -end-----*/


@media only screen and (max-width:992px) {
	#sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 10;
		width: 260px;
		transform: translatex(-100%);
		transition: all 150ms linear;
		box-shadow: none !important;
	}

	.body-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		visibility: hidden;
		opacity: 0;
		z-index: 3;
		transition: all 150ms linear;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

/*Testing animation for loading in*/
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}