html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden; /*To remove any white space*/
}

.footer-section{
    background-color: #131B23;
    
}
#footer-text{
    color: white;
    text-align: center;
}
#footer-title, #footer-content, #footer-copyright{
    padding-top: 20px;
}
#footer-copyright{
    padding-right: 20px;
}